header{
    background-color: black;
    border-bottom: 2px solid #72AB00;
    height: 127px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.inner_header{
    position: relative;
    margin-left: 20vw;
    margin-right: 20vw;
    width: 920px;
}

.logo{
    font-size: 55px;
    color: #72AB00;
    position: relative;
    top: 20px;
}

.logo a:active{
    font-size: 55px;
    color: #72AB00;
    position: relative;
    top: 20px;
}

.logo a:visited{
    font-size: 55px;
    color: #72AB00;
    position: relative;
    top: 20px;
}

.logo_2{
    color: #9A9A9A;
    position: absolute;
    left: 12vw;
    top: 0px;
}

.logo_2 a:active{
    color: #9A9A9A;
    position: absolute;
    left: 12vw;
    top: 0px;
}

.logo_2 a:visited{
    color: #9A9A9A;
    position: absolute;
    left: 12vw;
    top: 0px;
}

.logo_bot{
    font-size: 20px;
    color: #72AB00;
}

a{
    text-decoration: none;
}

li{
    border-top: solid 2px #9A9A9A;
    text-align: center;
    position: relative;
    list-style: none;
    display: inline-block;
    width: 90px;
    font-size: 20px;
    bottom: -50px;
    line-height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

li a {
    font-size: 20px;
    color: #9A9A9A;
}

li:hover{
    border-top: solid 5px #72AB00;    
    color: #72AB00;
}

.current{
    border-top: solid 5px #72AB00;
    text-align: center;
    position: relative;
    list-style: none;
    display: inline-block;
    width: 90px;
    font-size: 20px;
    bottom: -50px;
    line-height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    color: #72AB00;
}

.current a{
    font-size: 20px;
    color: #72AB00;
}

li a:hover{
    color: #72AB00;
}

ul{
    position: absolute;
    right: 5px;
    bottom: 0px;
}

.budu{
    margin: 35px;
    margin-bottom: 0;
    padding: 0;
    font-size: 60px;
    color: #72AB00;
    font-weight: bold;
}

.rad{
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 30px;
    color: #72AB00;
}

.main{
    background-color: #F8F8F8;
    border: solid 1px #aaa;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-radius: 5px;
    width: 920px;
}

button{
    background-color: #72AB00;
    padding: 30px;
    padding-top: 8px;
    padding-bottom: 7px;
    border-radius: 1px;
    border: 1px solid;
    color: white;
}

img{
    margin: 35px;
    border: solid 1px #aaa;
    float: left;
}
