header{
    background-color: black;
    border-bottom: 2px solid #72AB00;
    height: 127px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.inner_header{
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}

.logo{
    font-size: 70px;
    color: #72AB00;
    position: relative;
    top: 20px;
}

.logo_2{
    color: #9A9A9A;
    position: absolute;
    left: 180px;
    top: 0px;
}

.logo_bot{
    font-size: 20px;
    color: #72AB00;
}

a{
    text-decoration: none;
}

li{
    border-top: solid 5px #9A9A9A;
    text-align: center;
    position: relative;
    list-style: none;
    display: inline-block;
    width: 150px;
}

li a {
    font-size: 20px;
    color: #9A9A9A;
}

ul{
    position: absolute;
    right: 5px;
    bottom: 0px;
}

.main{

}

button{

}